body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 80vh;
    width: 80vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-content{
    background-color: white;
    height: 40vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px
}

#player-name{
    height: 5vh;
    width: 15vw;
    border: 2px solid black;
    text-align: center;
}

#player-name-btn{
    height: 5vh;
    width: 10vw;
    color: white;
    border: 2px solid black;
    background-color: black;
    cursor: pointer;
}

@media (max-width: 800px) {
    #player-name{
        width: 30vw;
    }

    #player-name-btn{
        width: 20vw;
    }
}

.main-page{
    height: 85vh;
    width: 90vw;
    background-color: white;
    display: flex;
    gap: 5px;
}

.create-quest{
    height: 100%;
    width: 50%;
    background-color: black;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
}

label {
    font-weight: bold;
    
}
input, textarea, select {
    width: 90%;
    margin: 5px 0 15px;
    padding: 8px;
}

.quest-btn{
    height: 8vh;
    width: 15vw;
    border: none;
    background-color: white;
    font-weight: bold;
    font-size:medium;
    cursor: pointer;
}

.quest-list-container{
    height: 100%;
    width: 50%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column ;
    align-items: center;
}

#quest-list {
    padding: 5px;
    width: 50%;
    background-color: black;
    gap: 10px;
}
.quest-item {
    color: white;
    margin-top: 2px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.6;
    padding-bottom: 5px;
}

.quest-list-container h3{
    font-size: 1.4rem;
}

.quest-list-container p{
    font-size: 0.9rem;
}
.change-name{
    font-weight: bold;
    border: none;
    padding: 3px;
    cursor: pointer;
}

.quest-name{
    display: flex;
    gap: 1vw;
    align-items:center;
}

.quest-name p{
    font-size: large;
}

@media (max-width: 800px) {

    .main-page{
        flex-direction: column;

    }

    .quest-list-container {
        width: 100%;
    }

    .create-quest{
        width: 100%;
    }

}
