# build e cache  
/target/  
/bin/  
/out/  
/!mvnw  
/.mvn/  

# maven  
.m2/  

# ide
# intellij  
.idea/  
*.iml  
*.iws  

# eclipse  
.project  
.classpath  
.settings/  

# vs code  
.vscode/  

# logs e arquivos 
*.log  
*.tmp  
hs_err_pid*  

# ambiente e credenciais
.env  
application-*.yml  
application-*.properties  
secrets.json  
*.pem  
